@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

#Home
{
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;

}

#Home nav{
   margin-left: 80%;
   margin-top: 20px;
}

 nav ul li{
    display: inline-block;
    padding-right: 2rem;
    
}
nav ul li a{
    text-decoration: none;
    color:black;
    transition-property: border;
    transition-duration: 0.2s;
    transform-origin: bottom;
   }
nav ul li a:hover{
    border-bottom: 2px black solid;
}

#Home > .profile{
  position: relative;
  top:30%;
  text-align: center;
  font-size: 2em    

}