@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

/* Home page */

#Home {
  height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("./img/portfolio-background.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 99vw;
  height: 7vh;
  background-color: black;
  z-index: 5;
}
.sign {
  font-family: "Caveat", cursive;
  /* border: 1px solid black; */
  height: 30px;
  padding-top: 10px;
  padding-left: 3%;
  /* background-color: rgb(66, 63, 63); */
  /* color:white; */
  /* border-radius: 20px; */
  color: white;
  opacity: 0.5;
}

nav {
  padding-top: 10px;
}

nav ul li {
  display: inline-block;
  padding-right: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
  transition-property: border;
  transition-duration: 0.2s;
  transform-origin: bottom;
  font-size: 1.2em;
  /* font-weight: bold; */
  color: rgb(226, 218, 218);
  text-shadow: 3px 0px 7px black;
}
nav ul li a:hover {
  border-top: 2px white solid;
}

#Home > .profile {
  position: relative;
  top: 40%;
  right: 17%;
  left: 10%;
  text-align: center;
  font-size: 2em;
  display: inline-block;
}
.profile h1 {
  text-shadow: 3px 0px 3px black;
  color: rgb(207, 193, 193);
}
.profile h3 {
  color: rgb(207, 193, 193);
  text-shadow: 3px 0px 7px black;
  display: inline-block;
}

/* Education */

.Edu {
  height: 65vh;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(27, 20, 20, 1) 47%,
    rgba(73, 86, 89, 1) 88%
  );
  color: rgb(226, 220, 220);
}
.Edu h2 {
  font-size: 2.9em;
  text-align: center;
  padding: 50px 0 10px 0;
}

.Education {
  /* border: 2px black solid; */
  padding-top: 60px;
  text-align: center;
}

.Education > .card {
  padding-bottom: 20px;
}
.Education > .card span {
  margin-left: 10px;
}

#pen {
  position: relative;
  bottom: 90px;
  width: 300px;
  max-width: 70%;
}

/* Projects */

.project {
  height: 200vh;
  background-image: linear-gradient(
    90deg,
    rgba(27, 21, 21, 1) 3%,
    rgba(67, 54, 54, 1) 45%,
    rgba(73, 86, 89, 1) 100%
  );
  color: rgb(202, 195, 195);
  position: relative;
}

.project h2 {
  font-size: 2.9em;
  text-align: center;
  padding: 40px 0;
  position: relative;
}

.project > .card > .sem {
  position: sticky;
  top: 48px;
  font-size: 35px;
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(27, 21, 21, 1) 3%,
    rgba(67, 54, 54, 1) 45%,
    rgba(73, 86, 89, 1) 100%
  );
}

.project > .card > .projname {
  position: sticky;
  top: 100px;
  background-image: linear-gradient(
    90deg,
    rgba(27, 21, 21, 1) 3%,
    rgba(67, 54, 54, 1) 45%,
    rgba(73, 86, 89, 1) 100%
  );
  width: 100%;
}
.project > .card > .content {
  display: flex;
  justify-content: space-between;
  border: 2px black solid;
  padding-top: 20px;
}

.project > .card > .para1 p {
  max-width: 440px;
  padding-top: 20px;
}

.project > .card > .content img {
  max-width: 300px;
  height: 300px;
}
